/* selettore universale */
* {
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 90%);
}

/* logo */
.logo {
    width: 80px;
    vertical-align: middle;
}
/* /logo */

/* main-title */
.main-title {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 55px;
    vertical-align: auto;
}
/* /main-title */

/* container */
.container{
    width: 100%;
    background-color: #ffffff;
    margin: 0%;
    padding-left: 40px;
    padding-top: 20px;
    display: inline-block;
}
/* /container */

/* square */
.square {
    width: 1000px;
    height: 700px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin: auto;
    margin-top: 70px;
    
}
/* /square */

/* blue button */
.add-task {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #0080ffad;
    border-radius: 5px;
    padding: 10px;
    border-color:#0080ff00;
}
/* /blue button */

/* grey button */
.add-section {
    margin-left: 3px;
    color: #999999;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border-color:#c2c2c282;
}
/* /grey button */

/* divider */
.divider {
    margin-top: -20px;
    background-color: #e6e6e6;
    border-color: #ffffff00;
}
/* /divider */



