/* selettore universale */
* {
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    padding: 0;
}

body {
    background-color: #e6e6e6;
}

/* logo */
.logo {
    width: 80px;
    vertical-align: middle;
}
/* /logo */

/* main-title */
.main-title {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 55px;
}
/* /main-title */

/* container */
.container{
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    display: inline-block;
    height: 120px;
    background-color: #ffffff;
}
/* /container */

/* square */
.square {
    width: 1000px;
    height: 800px;
    border: 2px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    background-color: #ffffff;
    border-color: #ffffff;
    
}
/* /square */

/* blue button */
.add-task {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    background-color: #45abe9;
    border-color:#0080ff00;
}
/* /blue button */

/* grey button */
.add-section {
    margin-left: 3px;
    border-radius: 5px;
    padding: 10px;
    color: #999999;
    background-color: #ffffff;
    border-color:#c2c2c282;
}
/* /grey button */

/* divider */
.divider {
    margin-top: -20px;
    background-color: #e6e6e6;
    border-color: #ffffff00;
}
/* /divider */

/* list */
.list {
    margin-left: 55px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 25px;
    color: #484848;
}
/* /list */

/* list-2 */
.list-2 {
    list-style: none;
    font-size: 20px;
    margin-top: -20px;
}
/* /list-2 */

/* blue */
.blue {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #45abe9;
}
/* /blue */

/* purple */
.purple {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #9c72e4;
}
/* /purple */

/* recruiting */
.recruiting {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #64c0a9;
}
/* /recruiting */

/* mobile */
.mobile {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #f29e33;
}
/* /mobile */

/* website */
.website {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #d763a1;
}
/* /website */

/* sales */
.sales {
    margin-left: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 30%;
    color: #ffffff;
    background-color: #b0c925;
}
/* /sales */

/* check */
.check{
    border: 2px solid;
    border-radius: 100%;
    color: #65c0a9;
}
/* /check */

/* cross */
.cross{
    border: 2px solid;
    border-radius: 100%;
    color: #eb473d;
}
/* /cross */




